/* Tabla opciones */

.icon-option
{
    position: relative;

    float: right;

    margin-right: 20px;
}


/* Evaluador pregunta*/
.btn-pregunta
{
    margin-top: 60px;
}


.fa-camera
{
    margin-right: 10px;
}

.btn {
   -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

.btn-default
{
    color: #fff;
    border-color: #c35c5c;
    background-color: #c35c5c;    
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #AB5454;
    border-color: #AB5454;
}