/* Tabla opciones */

.icon-option
{
    position: relative;

    float: right;

    margin-right: 20px;
}


/* Evaluador pregunta*/
.btn-pregunta
{
    margin-top: 60px;
}


.fa-camera
{
    margin-right: 10px;
}
