/* Tabla opciones */

.icon-option
{
    position: relative;

    float: right;

    margin-right: 20px;
}


/* Evaluador pregunta*/
.btn-pregunta
{
    margin-top: 60px;
}


.fa-camera
{
    margin-right: 10px;
}

.btn
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

.btn-default
{
    color: #fff;
    border-color: #c35c5c;
    background-color: #c35c5c;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
{
    color: #fff;
    border-color: #ab5454;
    background-color: #ab5454;
}

.btn-res-sm
{
    margin: 0;
}

/* EVALUADOR */

.grupo-botones-inline
{
    margin-top: 50px;
}


@media screen and (max-width: 800px) {
  .btn-pregunta {
      margin: 30px 0;
}

@media screen and (max-width: 500px)
{
    .btn-pregunta {
      margin: 20px 0;
    }

    .btn-res-sm
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .btn-res-sm2
    {
        margin-top: 10px;
    }

    .grupo-botones-inline
    {
        margin-top: 10px;
    }
}
