
/* ===== Estilos para vistas evaluador ===== */


.menu-evaluador
{
    padding: 20px 0 50px 0;

    border: solid 1px #a03535;
    border-radius: 10px;
    background-color: #fae3d4;
}

td a
{
    margin-left: 20px;

    text-decoration: none;

    color: #6d6d6d;
}

td a:hover
{
    text-decoration: none;

    color: #6d6d6d;
}

@media screen and (max-width: 500px)
{
    .menu-evaluador
    {
        padding: 15px 20px 35px 20px;
    }

    td a
    {
        margin-left: 0px;
    }
}

.user-highlight
{
    font-weight: bold;
}

.img-preview
{
    width: 100%;
    height: 100%;
}

.container-pregunta
{
    font-size: 16px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 60px;
    padding: 15px 0 10px 0;

    color: #c35c5c;
    border: 1px solid #c35c5c;
    border-radius: 10px;
    background-color: #fae3d4;
}


.planes-content
{
    margin-top: 20px;
    padding-left: 40px;
}

/* Estilo general para cada bloque */

.bloque_datos
{
    width: 74%;
    margin-right: 13%;
    margin-left: 13%;
}

/* Estilos preguntas */

@media screen and (max-width: 1200px)
{
    div#pregunta_sup_1200
    {
        display: none;
    }
}

@media screen and (min-width: 1201px)
{
    div#pregunta_min_1200
    {
        display: none;
    }
}

.preguntas_bloque_info
{
    height: 125px;
}

/* Medias para datos generales */

@media screen and (max-width: 991px)
{
    div#bloque_dat_gen_991Min
    {
        display: none;
    }
}

@media screen and (min-width: 992px)
{
    div#bloque_dat_gen_991Max
    {
        display: none;
    }
}

#bloque_datosGenerales
{
    width: 87%;
}

.bloque_datos_foto_991
{
    width: 52%;
}

.preguntas_bloqueInfor_foto
{
    font-size: 15px;

    padding: 0;
}

.preguntas_bloqueLetras
{
    font-size: 15px;

    padding: 30px;
}

.preguntas
{
    width: 66px;
    height: auto;
}

.bloque_informacion
{
    width: 453px;
}

.bloque_informacion_1200
{
    width: 417px;
    height: 136px;
}

.bloque_preguntando_texto
{
    width: 394px;
    padding: 5px 39px;

    text-align: justify;
}

.bloque_preguntando_texto_1200
{
    width: 394px;
    padding: 0 59px;

    text-align: justify;
}

.bloque_preguntando_texto_991
{
    width: 394px;
    padding: 0 91px  0 0;

    text-align: justify;
}

.bloque_preguntando_iconoI
{
    font-size: 58px;

    margin-top: -1px;
    margin-left: -19px;
}

.bloque_preguntando_iconoI_1200
{
    font-size: 58px;

    margin-top: 6px;
    margin-left: -50px;
}

.bloque_preguntando_iconoI_991
{
    font-size: 58px;

    margin-top: -78px;
    margin-left: 303px;;
}

/* Media para la pregunta en 991px */

@media screen and (max-width: 991px)
{
    div#bloque_datos_991Min
    {
        display: none;
    }
}

@media screen and (min-width: 992px)
{
    div#bloque_datos_991Maxn
    {
        display: none;
    }
}

.bloque_preguntando_borde
{
    border: solid 1px #c35c5c;
}

.bloque_preguntando_botones
{
    font-size: 58px;
}

.bloque_preguntando_tabla
{
    background-color: #dddcdc;
}

.bloque_preguntando_botonesFinales
{
    margin-top: -30px;
}

.bloque_preguntando_margenesFoto
{
    width: 83%;
    margin-top: 27px;
    margin-right: 16%;
    margin-left: 13%;
}

/* Estilos modal para crear uusario */
.modal_textp
{
    text-align: center;
}

.modal_nivel_tipo
{
    margin-top: 3px;
}

.modal_boton_crear
{
    margin-left: 16px;
}

.modal_boton_altura
{
    margin-top: 46px;
}


/* Posisicón de los botones del modal de crear nuevo usuurio*/
@media screen and (max-width: 991px)
{
    div#res_Lap
    {
        display: none;
    }
}

@media screen and (min-width: 990px)
{
    div#res_Tab
    {
        display: none;
    }
}

div#div_file
{
    position: relative;

    height: 35px;
    margin-top: 43px;
    margin-left: 14px;
    padding: 10px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    background-color: #c35c5c;

         -o-border-radius: 5px;
        -ms-border-radius: 5px;
}

.funcionaplease
{
    cursor: pointer;
}



div#div_file:hover
{
    color: white;
    border-color: #ab5454;
    background-color: #ab5454;
}

div#div_fileDos:hover
{
    color: white;
    background-color: #204d74;
}

input#foto_newUser
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

p#text_foto
{
    text-align: center;

    color: white;
}

input#foto_newUserDos
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

div#div_fileDos
{
    position: relative;

    width: 21%;
    height: 37px;
    margin-right: 40%;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #1a71a9;

         -o-border-radius: 5px;
        -ms-border-radius: 5px;
}
