@media screen and (max-width: 1200px)
{
    div#pregunta_sup_1200
    {
        display: none;
    }
}

@media screen and (min-width: 1201px)
{
    div#pregunta_min_1200
    {
        display: none;
    }
}

.preguntas_bloque_info
{
    height: 125px;
}

/* Medias para datos generales */

@media screen and (max-width: 991px)
{
    div#bloque_dat_gen_991Min
    {
        display: none;
    }
}

@media screen and (min-width: 992px)
{
    div#bloque_dat_gen_991Max
    {
        display: none;
    }
}

#bloque_datosGenerales
{
    width: 87%;
}

.bloque_datos_foto_991
{
    width: 52%;
}

.bloque_datos_foto_371
{
    font-size: 10px;

    width: 52%;
}

/* Letras alado de la foto 370*/
@media screen and (max-width: 370px)
{
    th#bloque_datos_letra991
    {
        display: none;
    }
}

@media screen and (min-width: 371px)
{
    th#bloque_datos_letra371
    {
        display: none;
    }
}


.preguntas_bloqueInfor_foto
{
    font-size: 13px;

    padding: 0;
}

.preguntas_bloqueLetras
{
    font-size: 15px;

    padding: 30px;
}

.preguntas_bloqueLetras2
{
    font-size: 15px;

    padding-left: 20px;
}

.preguntas
{
    width: 66px;
    height: auto;
}

.bloque_informacion
{
    width: 453px;
}

.bloque_informacion_1200
{
    width: 417px;
    height: 136px;
}

.bloque_informacion_500
{
    height: auto;
}

.bloque_preguntando_texto
{
    width: 394px;
    padding: 5px 39px;

    text-align: justify;
}

.bloque_preguntando_texto_1200
{
    width: 394px;
    padding: 0 59px;

    text-align: justify;
}

.bloque_preguntando_texto_500
{
    font-size: 14px;

    text-align: justify;
}

@media screen and (max-width: 500px)
{
    .bloque_preguntando_texto_500
    {
        font-size: 12px;

        text-align: justify;
    }
}

.bloque_preguntando_texto_991
{
    width: 394px;
    padding: 0 91px  0 0;

    text-align: justify;
}

.bloque_preguntando_iconoI
{
    font-size: 58px;

    margin-top: -1px;
    margin-left: -19px;
}

.bloque_preguntando_iconoI_1200
{
    font-size: 58px;

    margin-top: 6px;
    margin-left: -50px;
}

.bloque_preguntando_iconoI_500
{
    font-size: 58px;

    margin-top: 0;
}

@media screen and (max-width: 500px)
{
    .bloque_preguntando_iconoI_500
    {
        font-size: 38px;

        margin-top: 15px;
    }
}

.bloque_preguntando_iconoI_991
{
    font-size: 58px;

    margin-top: -78px;
    margin-left: 303px;;
}

/* Media para la pregunta en 991px */

@media screen and (max-width: 991px)
{
    div#bloque_datos_991Min
    {
        display: none;
    }
}

@media screen and (min-width: 992px)
{
    div#bloque_datos_991Maxn
    {
        display: none;
    }
}

@media screen and (max-width: 500px)
{
    div#bloque_informacion_grande
    {
        display: none;
    }
}

@media screen and (min-width: 501px)
{
    div#bloque_informacion_movile
    {
        display: none;
    }
}

.bloque_preguntando_borde
{
    border: solid 1px #c35c5c;
}

.bloque_preguntando_botones
{
    font-size: 58px;
}

@media screen and (max-width: 500px)
{
    .bloque_preguntando_botones
    {
        font-size: 30px;
    }
}

.bloque_preguntando_tabla
{
    background-color: #dddcdc;
}

.bloque_preguntando_botonesFinales
{
    margin-top: 15px;
}

.bloque_preguntando_margenesFoto
{
    width: 83%;
    margin-top: 0;
    margin-right: 16%;
    margin-left: 13%;
}

@media screen and (max-width: 800px)
{
    .bloque_preguntando_margenesFoto
    {
        width: 100%;
        margin: 27px 0 0 0;
    }
}

/* Estilos modal para crear uusario */
.modal_textp
{
    font-size: 15px;

    text-align: center;
}

@media screen and (max-width: 500px)
{
    .modal_textp
    {
        font-size: 12px;

        text-align: center;
    }
}

.modal_nivel_tipo
{
    margin-top: 3px;
}

.modal_boton_crear
{
    margin-left: 16px;
}

.modal_boton_altura
{
    margin-top: 46px;
}


/* Posisicón de los botones del modal de crear nuevo usuurio*/
@media screen and (max-width: 991px)
{
    div#res_Lap
    {
        display: none;
    }
}

@media screen and (min-width: 990px)
{
    div#res_Tab
    {
        display: none;
    }
}

div#div_file
{
    position: relative;

    height: 35px;
    margin-top: 43px;
    margin-left: 14px;
    padding: 10px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    background-color: #c35c5c;

         -o-border-radius: 5px;
        -ms-border-radius: 5px;
}

.funcionaplease
{
    cursor: pointer;
}



div#div_file:hover
{
    color: white;
    border-color: #ab5454;
    background-color: #ab5454;
}

div#div_fileDos:hover
{
    color: white;
    background-color: #ab5454;
}

input#foto_newUser
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

p#text_foto
{
    text-align: center;

    color: white;
}

p#text_foto_chica
{
    padding: 10px;

    text-align: center;

    color: white;
}

input#foto_newUserDos
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

div#div_fileDos
{
    position: relative;

    width: 111px;
    height: 37px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    /*margin-left: 10px;*/
    /*margin-right: 41.5%;*/
    background-color: #c35c5c;
    -webkit-box-shadow: 0 3px 0 #c35c5c;

         -o-border-radius: 5px;
        -ms-border-radius: 5px;;;
}

/* Medias de los botónes del final */

@media screen and (max-width: 550px)
{
    div#bloque_btn_dos
    {
        display: none;
    }
}

@media screen and (min-width: 551px)
{
    div#bloque_btn_movil
    {
        display: none;
    }
}
