
/* ===== Estilos para vistas evaluador ===== */


.menu-evaluador
{
    padding: 20px 0 50px 0;

    border: solid 1px #a1a1a1;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.grupo-botones-inline
{
    margin-top: 50px;
}

td a
{
    margin-left: 20px;

    text-decoration: none;

    color: #6d6d6d;
}

td a:hover
{
    text-decoration: none;

    color: #6d6d6d;
}

.user-highlight
{
    font-weight: bold;
}

.img-preview
{
    width: 100%;
    height: 100%;
}

.container-pregunta
{
    font-size: 16px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 60px;
    padding: 15px 0 10px 0;

    color: #858585;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f3f3f3;
}


.planes-content
{
    margin-top: 20px;
    padding-left: 40px;
}

/*Botones Advertencia*/
.boton_adver
{
    font-size: 27px;

    width: 100%;
}

/* Estilos modal para crear uusario */
.modal_textp
{
    text-align: center;
}

.modal_nivel_tipo
{
    margin-top: 3px;
}

.modal_boton_crear
{
    margin-left: 16px;
}

.modal_boton_altura
{
    margin-top: 46px;
}

/* Posisicón de los botones del modal de crear nuevo usuurio*/
@media screen and (max-width: 991px)
{
    div#res_Lap
    {
        display: none;
    }
}

@media screen and (min-width: 990px)
{
    div#res_Tab
    {
        display: none;
    }
}

div#div_file
{
    position: relative;

    height: 35px;
    margin-top: 43px;
    margin-left: 14px;
    padding: 10px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    background-color: #337ab7;

         -o-border-radius: 5px;
        -ms-border-radius: 5px;
}

input#foto_newUser
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

p#text_foto
{
    text-align: center;

    color: white;
}

input#foto_newUserDos
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

div#div_fileDos
{
    position: relative;

    width: 21%;
    height: 37px;
    margin-right: 40%;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    background-color: #337ab7;
    -webkit-box-shadow: 0 3px 0 #1a71a9;

         -o-border-radius: 5px;
        -ms-border-radius: 5px;
}
